.loader {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;

	@include media('<phone') {
		display: flex;
		justify-content: center;
	}

	&__title {
		font-family: 'Orelo';
		font-weight: 400;
		text-transform: uppercase;
		display: inline-block;
		width: fit-content;
		height: fit-content;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 2;
		color: #000;
		font-size: 3rem;
		overflow: hidden;

		@include media('<phone') {
			font-size: 13vw;
		}
	}

	&__overlay {
		position: absolute;
		pointer-events: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
