::selection {
	background: $orange;
}

#app {
	visibility: hidden;
}

body {
	overscroll-behavior: none;
	scroll-behavior: smooth;
	font-family: 'Neue Montreal';

	background: #f7efe3;

	.char,
	.word {
		will-change: transform;
	}

	.star {
		width: 1.5rem;
		position: fixed;
		bottom: 1vh;
		left: 2vw;
		z-index: 1;
		transform: translateY(-50%);
		will-change: transform;

		@include media('<phone') {
			width: 1.25rem;
			left: 3.5vw;
			bottom: 0.25vh;
		}
	}
}
