@font-face {
	font-family: 'Orelo';
	font-weight: bold;
	font-style: normal;
	src: url('/fonts/Orelo-SemiCondensedDemiBold.woff') format('woff'),
		url('/fonts/Orelo-SemiCondensedDemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Neue Montreal';
	font-weight: 300;
	font-style: normal;
	src: url('/fonts/NeueMontreal.woff') format('woff'),
		url('/fonts/NeueMontreal.woff2') format('woff2');
}
@font-face {
	font-family: 'Neue Montreal';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/NeueMontreal-Medium.woff') format('woff'),
		url('/fonts/NeueMontreal-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Neue Montreal';
	font-weight: 400;
	font-style: italic;
	src: url('/fonts/NeueMontreal-Italic.woff') format('woff'),
		url('/fonts/NeueMontreal-Italic.woff2') format('woff2');
}
