.cursor {
	display: none;
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 10000;
		shape-rendering: geometricPrecision;
	}

	.cursor--1 .cursor__inner {
		fill: $orange;
	}

	.cursor--2 .cursor__inner {
		fill: none;
		stroke: $orange;
		stroke-width: 1px;
	}
}
