.footer {
	width: auto;
	margin: 0 2vw;

	&__contact {
		padding-bottom: 1rem;
		// display: flex;
		// justify-content: center;
		// align-items: center;
		// flex-direction: column;

		span {
			display: block;
			font-size: 2rem;
			font-family: 'Orelo';
			font-weight: 300;
			text-transform: uppercase;
			color: #000;
			text-align: right;
			margin-bottom: 1rem;
		}

		&__item {
			font-size: 12vw;
			font-family: 'Neue Montreal';
			font-weight: 500;
			// text-transform: uppercase;
			text-align: center;
			color: #000;
			margin-bottom: 5rem;

			a {
				text-decoration: none;
				color: #fe3301;
			}
		}
	}

	&__copyrighhts {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 3vh 0;
		// height: 6vh;
		overflow: hidden;
		// border-top: solid 1px #fe3301;
		color: #fe3301;

		&__item {
			width: 200px;
			text-align: center;

			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}

			ul {
				display: flex;
				justify-content: space-around;

				a {
					text-decoration: none;
					color: inherit;
				}
			}
		}
	}
}
