.footer {
	width: auto;
	padding: 0 2vw;

	@include media('<phone') {
		padding: 0 4vw;
	}

	&__title {
		@extend %sectionTitle;
	}

	&__contact {
		padding: 1rem 0;
		margin: 5rem 0;

		@include media('<phone') {
			margin: 2rem 0;
		}

		> span {
			display: block;
			font-size: 2rem;
			font-family: 'Orelo';
			font-weight: 300;
			text-transform: uppercase;
			color: #000;
			text-align: right;
			margin-bottom: 1rem;
		}

		&__item {
			font-size: 7.75vw;
			font-family: 'Neue Montreal';
			font-weight: 500;
			text-align: center;
			color: #000;
			overflow: hidden;

			@include media('<phone') {
				font-size: 7vw;
			}

			a {
				text-decoration: none;
				color: #fe3301;
				position: relative;
				line-height: 1.2;
			}

			&-bottom {
				position: absolute;
				left: 0;
			}
		}
	}

	&__copyrighhts {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 3vh 0;
		overflow: hidden;
		color: #fe3301;

		@include media('<phone') {
			padding: 2vh 0;
			flex-direction: column;
			justify-content: center;
		}

		&__item {
			width: 240px;
			text-align: center;

			@include media('<phone') {
				margin: 0.5rem 0;
			}

			&:first-child {
				text-align: left;
				padding-left: 2rem;

				@include media('<phone') {
					text-align: center;
					padding-left: 0;
				}
			}
			&:last-child {
				text-align: right;

				@include media('<phone') {
					text-align: center;
				}
			}

			ul {
				display: flex;
				justify-content: space-around;

				a {
					text-decoration: none;
					color: inherit;
				}
			}

			button {
				background-color: transparent;
				padding: 0;
				margin: 0;
				border: none;
				font: inherit;
				color: inherit;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 1.25px;
					transform-origin: right;
					z-index: 2;
					transform: scaleX(0);
					background-color: #fe3301;
					transition: transform 0.5s
						cubic-bezier(0.694, 0.048, 0.335, 1);
				}

				&:hover::before {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
	}
}
