.landing {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	// &::after {
	// 	content: '';
	// 	z-index: 1;
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	background: radial-gradient(circle, transparent, 90%, #f7efe3 100%);
	// }


	&__scroll-indicator {
		width: 2px;
		height: 30px;
		position: absolute;
		bottom: 1.5em;
		left: 3.5rem;
		background-color: #fff;
		z-index: 1;

		&::after {
			content: '';
			width: 14px;
			height: 14px;
			position: absolute;
			bottom: 0;
			right: -5.5px;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
			transform: rotate(45deg);
		}
	}

	&__title {
		font-family: 'Orelo';
		font-weight: 300;
		z-index: 1;

		width: 80%;
		font-size: 12vw;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		line-height: 0.9;
		display: flex;
		flex-direction: column;

		@include media('<phone') {
			width: 100%;
			font-size: 18vw;
			line-height: 1.1;
		}

		div {
			overflow: hidden;
		}

		div:nth-child(2n) {
			text-align: left;

			@include media('<phone') {
				text-align: center;
			}
		}

		div:last-child {
			text-align: right;

			@include media('<phone') {
				text-align: center;
			}
		}
	}

	&__subtitle {
		width: 100%;
		z-index: 1;
		position: absolute;
		bottom: 1rem;
		font-size: 0.75rem;
		color: #fff;
		text-transform: uppercase;
		text-align: center;

		span {
			font-family: 'Orelo';
			font-weight: 300;
			text-transform: none;
			font-size: 1rem;
		}

		@include media('<phone') {
			bottom: 1.25vh;
		}
	}

	.webgl {
		position: absolute;
		top: 0;
		left: 0;
		outline: none;
		z-index: 0;
	}
}
