.passions {
	width: 100%;
	height: auto;
	padding: 10rem 2vw;

	@include media('<phone') {
		padding: 5rem 4vw 8rem;
	}

	&__title {
		@extend %sectionTitle;
	}

	&__wrapper {
		color: #000;
		position: relative;
	}

	/* Made with the help of Mary Lou's article, huge shout out:
	https://tympanus.net/codrops/2021/02/17/ideas-for-css-button-hover-animations/ */

	&__item {
		padding: 3.75vh 0;
		font-family: 'Orelo';
		font-weight: 300;
		text-transform: uppercase;
		border-top: solid 1px #000;

		flex: none;
		display: flex;
		justify-content: initial;
		position: relative;

		@include media('<phone') {
			display: flex;
			flex-direction: column;
		}

		&:first-child {
			border: none;
		}

		&:hover .passions__item-sub {
			opacity: 1;
			transform: translateX(0);
		}

		&:hover .passions__item-sub::before {
			transform: rotate(22.5deg) scale3d(1, 1, 1);
		}

		&-text {
			position: relative;
			cursor: pointer;
			padding: 0.5rem;
			display: block;
			overflow: hidden;
			font-size: 5vw;

			&-textinner {
				display: block;
				font-weight: 300;
				text-transform: uppercase;
			}

			@include media('<phone') {
				font-size: 10vw;
			}
		}

		&-sub {
			display: flex;
			text-transform: uppercase;
			align-items: center;
			margin-left: 2rem;
			padding-left: 3rem;
			opacity: 0;
			transform: translateX(-1rem);
			transition: transform 0.3s, opacity 0.3s;

			font-family: 'Neue Montreal';
			font-weight: 300;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 15%;
				width: 1px;
				height: 70%;
				background: currentColor;
				transform-origin: 0 100%;
				transform: rotate(22.5deg) scale3d(1, 0, 1);
				transition: transform 0.3s;
			}

			@include media('<phone') {
				opacity: 1;
				transform: translateX(0);
				padding: 1rem 0 1rem 3rem;

				&::before {
					transform: rotate(22.5deg) scale3d(1, 1, 1);
				}
			}
		}

		.hover-reveal {
			position: absolute;
			z-index: -1;
			width: 25vw;
			height: 150%;
			top: 50%;
			right: 0;
			pointer-events: none;
			opacity: 0;
			transform: translateY(-50%);

			@include media('<phone') {
				width: 55vw;
				height: 90%;
			}

			&__inner {
				overflow: hidden;
			}

			&__inner,
			&__img {
				width: 100%;
				height: 100%;
				position: relative;
			}

			&__img {
				background-size: cover;
				background-position: 50% 50%;
				border: 7px solid white;
			}
		}
	}
}
