.projects {
	width: 100%;
	height: auto;
	padding: 0 2vw;

	// display: flex;
	// justify-content: center;
	// flex-direction: column;

	transform: translate(0, 0);

	&__title {
		@extend %sectionTitle;
	}

	&__infos {
		width: 60%;
		line-height: 1.2;
		font-size: 2rem;
		font-weight: 300;
		color: #000;
		margin: 3rem 2rem 3rem;

		div {
			overflow: hidden;
		}
	}

	.stack-wrap {
		width: 100%;
		position: relative;

		&__sub {
			position: absolute;
			font-weight: 400;
			text-transform: uppercase;
			font-size: 6vw;
			writing-mode: vertical-rl;
			text-orientation: mixed;
			opacity: 0.5;

			-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #000;

			bottom: calc(6rem + 2vh);
			right: 0;
			transform: rotate(180deg);

			span {
				-webkit-text-stroke-color: #fe3301;
			}
		}
		// &__sub--project {
		// 	top: 0;
		// 	right: 0;
		// 	transform: rotate(180deg);
		// }
		// &__sub--labs {
		// 	bottom: 0;
		// 	right: 0;

		// 	transform: rotate(180deg);
		// }
	}

	.oh {
		position: relative;
		overflow: hidden;
	}

	.oh__inner {
		display: inline-block;
		will-change: transform;
	}

	.unbutton {
		background: none;
		border: 0;
		padding: 0;
		margin: 0;
		color: inherit;
		font: inherit;
	}

	.unbutton:focus {
		outline: none;
	}

	.stack {
		margin: 0 auto;
		width: 38vw;
		min-width: 300px;
		grid-gap: 2vh;
		display: grid;
		place-items: center;

		&__item {
			opacity: 0.5;
			width: 100%;
			height: 18vh;
			background-size: cover;
			background-position: center;
			cursor: pointer;
			will-change: width, height, transform, opacity;
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.8;
			}
		}

		&__item--empty {
			pointer-events: none;
			height: 6rem;
		}
	}

	.slides {
		width: 50vw;
		position: relative;
		margin-left: auto;
		margin-right: 2vh;
	}

	.slides .stack {
		width: 100%;
		margin-left: auto;
		margin-right: 2vh;
	}

	.slides .stack__item {
		pointer-events: none;
		opacity: 0.5;
		height: 50vh;
	}

	.slides .stack__item--current {
		opacity: 0.6;
	}

	.content {
		pointer-events: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		display: grid;
		height: 100vh;
		width: 100%;
		grid-template:
			'back slides'
			'title slides' 1fr
			'. slides' 10vh / 1fr 50vw;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto;
		grid-gap: 2vh;
		grid-column-gap: 2rem;
		padding: 2rem 2vh 2rem 2rem;
		display: none;
	}

	.content__item {
		overflow: hidden;
		position: absolute;
		height: 0;
		opacity: 0;
		pointer-events: none;

		text-align: left;
		grid-area: title;
		align-self: end;
	}

	.content__item--current {
		overflow: visible;
		position: relative;
		pointer-events: auto;
		height: auto;
		opacity: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.content__item-title {
		font-weight: 100;
		line-height: 1;
		font-size: clamp(2rem, 9vw, 10rem);
		margin: 0 0 2rem 0;
		color: #c87e4f;
	}

	.content__item-title > span {
		display: block;
		white-space: nowrap;
		line-height: 1;
	}

	.content__item-title > span:not(:first-child) {
		margin-top: -1vw;
	}

	.content__back {
		grid-area: back;
		display: flex;
		align-items: center;
		cursor: pointer;
		opacity: 0;
		pointer-events: none;
	}

	.content__back svg {
		fill: #fff;
		margin-right: 0.5rem;
	}

	.content__nav-wrap {
		grid-area: 1 / 1 / -1 / -1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.content__nav {
		z-index: 100;
		cursor: pointer;
		opacity: 0;
		flex: none;
		align-self: center;
		pointer-events: none;
		height: calc((100vh - 50vh - 2vh * 4) / 3);
	}

	.content__nav svg {
		stroke: #fff;
		stroke-width: 3px;
		width: auto;
		height: 100%;
		opacity: 0.5;
		transition: opacity 0.3s;
	}

	.content__nav:hover svg,
	.content__nav:focus-visible svg {
		opacity: 1;
	}

	.content__nav--next svg {
		transform: scale(-1);
	}

	.content--open .content__back,
	.content--open .content__nav {
		opacity: 1;
		pointer-events: auto;
	}
}
