@import '@scss/utils/mixins';
@import '@scss/utils/var';
@import '@scss/utils/responsive';

@import '@scss/shared/sectionTitle';

@import '@scss/base/fonts';
@import '@scss/base/reset';
@import '@scss/base/default';
@import '@scss/base/base';

@import '@scss/layout/cursor';
@import '@scss/layout/nav';
@import '@scss/layout/landing';
@import '@scss/layout/me';
@import '@scss/layout/skills';
@import '@scss/layout/works';
@import '@scss/layout/passions';
@import '@scss/layout/footer';

@import '@scss/components/loader';
